doctype html
html(lang='en')
  head
    include meta

    link(rel='shortcut icon', href='/images/favicon.ico')

    title Robot Wars for OpenTable

    link(rel='stylesheet', href='/styles/main.css')

    block style
  body
    block content
    
    script(src='/scripts/main.js')
    
    block script